
*{
  margin: 0%;
  padding: 0%;
}
.body{
  margin: 0%;
  padding: 0%;
  background-color: #03756c;
}
/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.header_section {
    padding: 15px 0;
    margin-bottom: 1px;
    background-color: #272929;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
 
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 32px;
  color: #000000;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #fffcfc;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
   
}


.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #f7444e;
}
.custom_nav-container .nav_search-btn:hover {
  color: #f7444e;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}
.dropdown-menu{
  background-color: #000000;
}
.dropdown-menu li  {
  color: #003fb3;
 text-align: center;
}
.dropdown-menu li a  {
  color: #003fb3;
 
}
/*end header section*/

/* start section search bar image */
.info-section {
  background-color: #e6e3e3;
  padding: 100px 0;
  color: rgb(0, 0, 0);
  text-align: center;
}
.info-section p{
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

.search-bar input {
  display: flex;
  border-radius: 20px;
  width: 50%;
}
.search-bar button {
  border-radius: 20px;
  margin-left: 10px;
}
 /* end section search bar img */
/* Heading Section */
.heading{
  text-align: center;
  position: relative;
  margin: 3vh;
  color: rgb(0, 0, 0);
}
.heading span {
  color: rgb(0, 0, 0);
  
}.heading span::before{
  content: '';
  position: absolute;
  bottom: -5px;
  width: 5%;
  height: 5px;
  background-color: black;
  background: red;
}
/*  End Heading Section */

.testimonails{
  position: relative;
  height: auto;
  width: 100%;
  top: 5vh;
  }
  .slider {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #03145f;
  margin-bottom: 7vh;
  }
  
  .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  
  }
  
  .slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 3vh 2vh;
  text-align: center;
  }
  .slide .Testimonial-pic{
    height: 15vh;
    width: 15vw;
    border-radius: 50%;
  }
  
  .slide p {
  font-size: 1.2em;
  margin-bottom: 1vh;
  color: white;
  }
  
  .slide h1 {
  font-size: 16px;
  color: #ffffff;
  }
  
  button {
  position: relative;
  top: 20%;
  padding: 3px 3px ;
  background-color: rgb(214, 119, 56);
  color:#03145f ;
  font-size: 1.5em;
  }
  .slider-btns{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin: 2vh 2vw;
  }
  .slider-btns h1 {
  color: white;
  }
  /*  End css section  Students testimonials*/
 /* css footer section */
 .footer {
  background-color: #0dc469;
  padding: 40px 0;
}
.footer .footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
 
}
.footer .footer-links a {
  display: block;
  color: #fdfdfd;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer .footer-links a:hover {
  color: #b31500;
  text-decoration: underline;
}
.footer .social-icons a {
  color: #6c757d;
  margin-right: 10px;
  font-size: 24px;
}
.footer .social-icons a:hover {
  color: #ee520a;
}
/* end footer section */
.blog{
  height: auto;
  width: 100%;
  background-color: rgb(6, 134, 85);
  color: #000000;
  border: 1px solid rgb(170, 166, 166);
  margin-bottom: 2vh;
   
}
.blog h6 {
  margin: 0.5vh 3vw;
  color: white;
}
.blog-items span{
  position: relative;
  justify-content: space-evenly;
  margin: 1vh 2vw;
  font-size: 1em;
}
.blog-items span a{
  color: #fefffe;
} 
.blog-img {
  height: 200px;
  width: 80%;
 margin: 1vh 2vw;
}
.icon-img{
   text-align: center;
  border-radius: 50%;
  margin: 2vh;
}
.i-img{
  height: 100px;
  width: 100px;
}
